%div
  %h2 Destination Wise Bookings
  .row.margin-top-15
    .col-md-12.col-sm-12.colxs-12
      #destination_wise_chart
  .row.margin-top-15
    .col-md-8.col-sm-8.colxs-8
      #agent_wise_report
    .col-md-4.col-sm-4.col-xs-4
      #destination_wise_pie_chart

  %h2 Look Book Ratio (For Agents )
  .row.margin-top-15
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      #top_bookings
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      #top_quotations

  .row.margin-top-15
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      #bookings_and_quotation_highest
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      #bookings_and_quotation_lowest

  .row.margin-top-15
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      #look_books
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      #look_quotations
