
%div.dashboard_container
  .row.top_tiles.hide{:style => "margin: 10px 0;"}
    .col-md-3.col-sm-3.col-xs-6.tile
      %span Total Tickets Booked
      %h2#total-tickets 231,809
      %span.sparkline_one{:style => "height: 160px;"}
        %canvas.sparkline{:height => "60", :width => "200"}
    .col-md-3.col-sm-3.col-xs-6.tile
      %span Current year Total Tickets
      %h2#cur-yr-total-tickets 174,587
      %span.sparkline_one{:style => "height: 160px;"}
        %canvas.sparkline{:height => "60", :width => "200"}
    .col-md-3.col-sm-3.col-xs-6.tile
      %span Highest Peakday booking
      %h2 231,809
      %span.sparkline_two{:style => "height: 160px;"}
        %canvas.sparkline{:height => "60", :width => "200"}
    .col-md-3.col-sm-3.col-xs-6.tile
      %span Total Sessions
      %h2 23,109
      %span.sparkline_one{:style => "height: 160px;"}
        %canvas.sparkline{:height => "60", :width => "200"}
  .row.standard-header.fixme
    .col-xs-6.col-md-2.col-sm-3
      = select_tag "time_filter", options_for_select(@years), {prompt: "Till Current Year"}
    .col-xs-6.col-md-2.col-sm-3
      = select_tag "branch_filter", options_for_select(BRANCHES.collect{|b| [b[:name], b[:id]]}), {prompt: "All branches"}
  %br/
  %h2#tkt_vs_time{data: {fin_years: @years.collect{|v| v[0]}}} Tickets Sold Vs Time
  .row.margin-top-15
    .col-md-8.col-sm-12.col-xs-12
      #yearly_chart Loading Chart
    .col-md-4.col-sm-12.col-xs-12
      #yearly_pie_chart
  %h2#peakday_vs_weekday Peakday and Weekday
  .row.margin-top-15
    .col-md-12.col-sm-12.col-xs-12.peakday_weekday_container
      .col-md-6.col-sm-6.col-xs-12.peakday_weekday_content
      #peakday_weekday_chart
  %h2#tkt_group_wise_users User Groups
  .row.margin-top-15
    .col-md-8.col-sm-8.col-xs-12
      #group_wise_users
    .col-md-4.col-sm-12.col-xs-12
      #group_wise_users_pie_chart

  %h2#tkt_vs_boocking_src Booking Sources
  .row.margin-top-15
    .col-md-12.col-sm-12.col-xs-12
      #booking_source_chart Hello
