
%div.dashboard_container
  .row.top_tiles{:style => "margin: 10px 0;"}
    .col-md-3.col-sm-3.col-xs-6.tile
      %span Total Tickets Booked
      %h2#total-tickets 231,809
      %span.sparkline_one{:style => "height: 160px;"}
        %canvas.sparkline{:height => "60", :width => "200"}
    .col-md-3.col-sm-3.col-xs-6.tile
      %span Current year Total Tickets
      %h2#cur-yr-total-tickets 174,587
      %span.sparkline_one{:style => "height: 160px;"}
        %canvas.sparkline{:height => "60", :width => "200"}
    .col-md-3.col-sm-3.col-xs-6.tile
      %span Highest Peakday booking
      %h2 231,809
      %span.sparkline_two{:style => "height: 160px;"}
        %canvas.sparkline{:height => "60", :width => "200"}
    .col-md-3.col-sm-3.col-xs-6.tile
      %span Total Sessions
      %h2 23,109
      %span.sparkline_one{:style => "height: 160px;"}
        %canvas.sparkline{:height => "60", :width => "200"}
  .row
    .col-xs-6.col-md-2.col-sm-3
      = select_tag "peak_week_day_filter", options_for_select([['All', '0'], ['2016-2017', '2016-2017'], [ '2015-2016', '2015-2016'], [ '2014-2015', '2014-2015'], [ '2013-2014', '2013-2014'], [ '2012-2013', '2012-2013'] ])
    .col-xs-6.col-md-2.col-sm-3
      = select_tag "branch_filter", options_for_select([['All Branches', '0'], ['Bangalore', '1'], ['Kochi', '1'], [ 'Hyderabad', '2']])
  %br/
  .row.margin-top-15
    .col-md-8.col-sm-12.col-xs-12
      #yearly_chart
    .col-md-4.col-sm-12.col-xs-12
      #yearly_pie_chart
  .row.margin-top-15
    .col-md-12.col-sm-12.col-xs-12.peakday_weekday_container

      .col-md-6.col-sm-6.col-xs-12.peakday_weekday_content
      #peakday_weekday_chart

  .row.margin-top-15
    .col-md-8.col-sm-8.col-xs-12
      #group_wise_users
    .col-md-4.col-sm-12.col-xs-12
      #group_wise_users_pie_chart

  %h2 Bookings vs Booking Sources
  .row.margin-top-15
    .col-md-12.col-sm-12.col-xs-12
      #booking_source_chart Hello

  %h2 Bookings Percentage vs Booking Sources
  .row.margin-top-15
    .col-md-12.col-sm-12.col-xs-12
      #stacked_source Hello
