// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.peakday_weekday_header {
  select {
    float: right;
  }
}
.highcharts-container {
  border: 1px solid #E6E9ED;
}
.margin-top-15 {
  margin-top: 15px;
}
.fixme{
	position: static;
	&.fixed{
		position: fixed;
    top: 0px;
    left: 240px;
    width: calc(100% - 240px);
    z-index: 2;
    background: #F7F7F7;
    padding: 10px;
	}
}
